body {
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-weight: 3rem;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat";
  font-size: 1.1rem;
}

p {
  color: #8f8f8f;
}

/* Title */
#title {
  background-color: #ff4c68;
  color: white;
  ;
}
.container-fluid {
  padding: 3% 15% 7%;
}
/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

/* Download Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
/* Testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 10%;
  border-radius:100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
  background-color: #ef8172;
  text-align: center;
}
.press-logo{
  width: 13%;
  margin: 20px 20px 50px;
}
/* Pricing Section */
#pricing{
  padding: 100px;
}
.price-column{
  padding: 3% 2%;
  text-align: center;
}
@media(max-width:1020px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
#cta{
  background-color: #ff4c68;
  font-family: "Montserrat";
  color: white;
  text-align: center;
  padding: 7% 15%;
}
#cta h3{
  font-size: 3rem;
  line-height: 1.5;
}
#footer{
  text-align: center;
  padding:7% 15%;
}
.footer-icon{
  padding: 5px;
}
#footer p{
  font-size: .75rem;
}
